<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <meta name="description" content="A place for Trey Piepmeier’s projects." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div class="wrapper">{{ content | safe }}</div>
    <footer>
        <div id="copyright">&copy; {{ page.date.getFullYear() }} <a href="https://treylabs.com">Trey Labs LLC</a>. All rights reserved.</div>
    </footer>
</body>
</html>
