<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        {{ title }}
        {%- if page.url != '/' %} / {% endif %}Trey Labs
    </title>
    <meta name="description" content="A place for Trey Piepmeier’s projects." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <div class="wrapper">{{ content | safe }}</div>

    <footer>
        <div id="copyright">&copy; 2019&ndash;2020 Trey Labs LLC. All rights reserved. <a href="https://github.com/trey/treylabs">View source.</a></div>
    </footer>

    {% include 'tracking.njk' %}
</body>
</html>
